* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    grid-row: 1/1;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 250px;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h1 {
    font-size: 320%;
    border-bottom: 10px dotted black;
    padding-bottom: 10px;
    align-self: center;
}

.home-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1200px;
    width: 90%;
    height: 100vh;
    margin: 0px auto;
    column-gap: 10%;
    justify-content: center;
}

img {
    width: 100%;
}

.cereal img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    margin-bottom: -4px;
}

.cereal h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.cereal p {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.cereal {
    margin-top: 250px;
}

.ribbon {
    display: grid;
    justify-content: center;
}

.cereal-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1200px;
    width: 90%;
    height: 100vh;
    margin: 0px auto;
    column-gap: 10%;
    justify-content: center;
}

.cereal-page-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    max-width: 1000px;
    width: 90%;
    height: 100vh;
    margin: 0px auto;
    column-gap: 10%;
    row-gap: 5%;
    justify-content: center;
    margin-top: 10%;
}

article {
    grid-column: 1/3;
}

.review {
    grid-column: 1/2;
    align-self: start;
}

.hashtag-box {
    grid-column: 2/2;
    align-self: start;
}