* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    grid-row: 1/1;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    padding-left: 1rem;
}

.home-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% auto;
    max-width: 1000px;
    width: 90%;
    height: 100vh;
    margin: 0px auto;
    column-gap: 10%;
    justify-content: center;
}

img {
    width: 80%;
}

.cereal img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    margin-bottom: -4px;
}

.cereal h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.cereal p {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

h3 {
    display: grid;
    justify-content: center;
}