<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${category.category} + 'Cereal'">Sugar Cereal</title>
    <link rel="stylesheet" href="./layout.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <header class="header">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="healthy.html">Healthy Cereals</a></li>
        <li><a href="sugar.html">Sugary Cereals</a></li>
      </ul>
      <h1 th:text="${CerealCategory.category} + 'Cereal'">Sugary Cereal</h1>
      <form>
        <input type="text" name="text" placeholder="Search.." />
        <input type="submit" name="submit" value="Search" />
      </form>
    </header>
    <div th:each class="cereal-body">
      <a th:href="'category/'+ ${CerealReview.id}">
      <div class="apple-jacks cereal">
        <h3 th:text="${CerealReview.cerealName}" class="ribbon">Apple Jacks</h3>
        <img th:src="@{org.wecancodeit.reviews.models.CerealReview.boxImage}" src="/images/AppleJacks 3D.png"/>
        <p class="ribbon">Click here to learn more and view product reviews.</p>
      </div>
    </a>
  </div>
  </body>
</html>
